@import "./src/index";

.container {
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
  align-items: center;
  width: 300px;
  height: 60px;
  background-color: #F8F9F9;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #b2b7bd;
  cursor: pointer;

  .leftSide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    line-height: 14px;

    svg {
      path {
        fill: currentColor;
      }
    }

  }
}

.active {
  color: $orange;
  background-color: #FEF5E7;

  span {
    color: $orange;
    background-color: #FEF5E7;
  }
}


