@import "src/index";

.tr {
  border-bottom: 1px solid #ECEFF2;
}

.th {
  text-align: start;
  width: 20%;
  height: 67px;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  color: $darkGray;
  padding-left: 24px;

  div {
    display: flex;
    align-items: center;
  }

  span {
    padding-left: 16px;
  }
}