.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 143px;
  height: 47px;

  img {
    height: 47px;
  }

  span {
    font-size: 18px;
    font-weight: 700;
    color: #152739;
    margin-left: 7px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 18px;
  }
}