@import "../../index";

.modalInputs {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 48px;
}

.question {
  font-size: 14px;
  line-height: 12px;
  color: $darkGray;
  margin-top: 32px;

  span {
    cursor: pointer;
    color: $orange;
  }
}

.radioBtn {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;

  div {
    cursor: pointer;

    input {
      margin-left: 5px;
      cursor: pointer;
    }
  }

}
