@import "./src/index.scss";

.modalInputs {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 48px;
}

.question {
  font-size: 14px;
  line-height: 12px;
  color: $darkGray;
  margin-top: 32px;

  span {
    cursor: pointer;
    color: $orange;
  }
}
